body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: rgba(9,6,36,.80);
  font-family: 'Open Sans', sans-serif;
  color: #cccaea;
  overflow: auto;
  text-align: center;
}

strong {
  color: #fff;
}

h1 {
  margin: 0 0 1rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 26px;
  text-align: center;
}

h2 {
  font-size: 18px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
}

.hidden {
  display: none;
}

.invisible {
  opacity: 0;
}

.fade {
  transition: opacity 250ms ease-in;
}

.gutter {
  position: absolute;
  left: 0;
  top: 0;
}

.table {
  width: 100%;
  height: 100%;
  display: table;
}

.cell {
  display: table-cell;
  vertical-align: middle;
}

.modal {
  margin: 0 auto;
  width: 476px;
  display: table;
  border-radius: 0.5rem;
  background-color: #0d0a24;
  box-shadow: 0px 3px 20px rgba(0, 0, 0, .4);
}

.modal main {
  position: relative;
  padding: 2rem 2rem 0.5rem;
}

.modal #close {
  position: absolute;
  right: 0.8rem;
  top: 0.8rem;
  text-decoration: none;
}

.modal #close:hover {
  cursor: pointer;
}

.modal #close img {
  width: 1.4rem;
}

.modal #loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal #loading img {
  max-width: 4rem;
}

.modal #logos {
  margin-bottom: 1rem;
  text-align: center;
}

.modal #logos img {
  width: 60px;
  height: 60px;
  margin: 0 0.5rem;
}

.modal #content {
  margin-bottom: 1.6rem;
}

.modal form {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.modal input,
.modal textarea {
  padding: 0.6rem;
  background-color: transparent;
  border: none;
  border-radius: 0.2rem;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9rem;
  color: #8887a1;
}

.modal input[type="checkbox"] {
  min-width: 0;
}

.modal form ::placeholder {
  color: #9399c7;
  opacity: 1;
}

.modal input,
.modal textarea {
  min-width: 9%;
  border: 1px solid #6679fc;
  color: #9399c7;
  margin-bottom: 0.5rem;
  flex: 1;
}

.modal input[name="member[first_name]"],
.modal input[name="member[email]"] {
  min-width: 40%;
  max-width: 50%;
}

.modal input[name="member[first_name]"] {
  margin-right: 0.25rem;
}

.modal input[name="member[email]"] {
  margin-left: 0.25rem;
}

.modal input[name="member[street_address]"] {
  margin-right: 0.5rem;
  flex: 4;
}

.modal input[name="member[phone]"] {
  margin-left: 0.5rem;
  flex: 6;
}

.modal input[name="userPhone"] {
  margin-right: 0.5rem;
  flex: 3;
}

.modal textarea {
  min-width: 80%;
  max-width: 100%;
}

.modal input[type="submit"] {
  min-width: 100%;
  margin-bottom: 0;
  padding: 1rem;
  background-color: #49c7ae;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.modal input[type="submit"]:hover {
  cursor: pointer;
}

.modal .prompt input {
  margin-bottom: 0;
}

.modal .prompt input[type="submit"] {
  min-width: 0;
  flex: 2;
}

.modal .disclaimer {
  width: 100%;
  margin: 0.5rem 0;
  color: #717093;
  font-size: 0.8rem;
}

.modal .disclaimer p {
  margin: 0.5rem 0;
}

.modal .disclaimer a {
  color: #b1afda;
  text-decoration: none;
}

.modal .disclaimer a:hover {
  text-decoration: underline;
}

.modal footer {
  padding: 0.5rem 2rem;
  background-color: #141037;
  border-radius: 0 0 0.5rem 0.5rem;
  display: flex;
  align-items: center;
}

.modal footer.hidden {
  display: none;
}

.modal footer h3 {
  margin-right: 0.3rem;
}

.modal footer a {
  text-decoration: none;
}

.modal footer button {
  height: 2rem;
  margin-left: 0.5rem;
  padding: 0 0.7rem;
  border: none;
  border-radius: 0.2rem;
  color: #fff;
  font-size: 0.6rem;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  flex: 1;
  flex-basis: auto;
}

.modal footer button:hover {
  cursor: pointer;
}

.modal footer button img {
  height: 1rem;
  margin-right: 0.4rem;
}

.modal footer button span {
  line-height: 1.1rem;
}

.modal footer button.facebook {
  background-color: #2b48a7;
}

.modal footer button.twitter {
  background-color: #2c8be4;
}

.modal footer button.map {
  background-color: #49418f;
}

#script p {
  text-align: left;
  font-size: 0.8rem;
}

/* Variations */
body.fullscreen {
  background-color: #1e1b33;
  opacity: 0.89;
}

body.fullscreen .modal {
  position: unset;
  background: transparent;
  border-radius: 0;
  box-shadow: none;
  transform: none;
}

body.money h1 {
  color: #ffc11a;
}

body.stop h1 {
  color: #ff3232;
}

body.slow h1,
body.without h1 {
  background: linear-gradient(#39ebfd, #6b74fb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #279cff;
}

body.money .modal input[type="submit"] {
  background-color: #dea50a;
}

body.stop .modal input[type="submit"] {
  background-color: #ff3232;
}

body.slow .modal input[type="submit"],
body.without .modal input[type="submit"] {
  background-color: #6679fc;
}

/* Animations */
@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#loading img,
body.slow #logos img {
  animation-name: spin;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes modal {
  0% { transform: translateY(100px); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}

.modal {
  animation-duration: 1s;
  animation-name: modal;
  animation-timing-function: ease-out;
}


/* Mobile */
@media (max-width: 674px) {
  .gutter {
    width: initial;
    max-width: 100%;
  }

  .modal { 
    width: initial;
    max-width: 100%;
  }

  .modal input[name="member[first_name]"],
  .modal input[name="member[email]"] {
    min-width: 36%;
  }

  .modal input[name="member[street_address]"] {
    min-width: 15%;
  }

  .modal input[name="member[phone]"] {
    min-width: 80%;
    margin-left: 0;
  }
}

@media (max-width: 375px) {
  .modal input[name="member[first_name]"],
  .modal input[name="member[email]"] {
    min-width: 33%;
  }
}
