body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: rgba(0, 0, 0, .56);
  font-family: 'Open Sans', sans-serif;
  color: white;
  overflow-y: scroll;
  text-align: center;
}

h1 {
  margin: 1.4rem 0;
  padding: 0.1em 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 48px;
  text-align: center;
  line-height: 1em;
}

.hidden {
  display: none;
}

.invisible {
  opacity: 0;
}

.fade {
  transition: opacity 250ms ease-in;
}

.gutter {
  position: absolute;
  left: 0;
  top: 0;
}

.table {
  width: 100%;
  height: 100%;
  display: table;
}

.cell {
  display: table-cell;
  vertical-align: middle;
}

.modal {
  position: relative;
  margin: 0 auto;
  padding: 30px;
  width: 620px;
  display: table;
  border-radius: 1em;
  background-color: #0d0a24;
  box-shadow: 0px 3px 20px rgba(0, 0, 0, .4);
}

.modal #close {
  position: absolute;
  right: 1em;
  top: 1em;
  padding: 0 6px;
  color: white;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 100%;
}

.modal #loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal #loading img {
  max-width: 4rem;
}

.modal #logos {
  text-align: center;
}

.modal #logos img {
  width: 80px;
  height: 80px;
  margin: 0 0.5rem;
}

.modal #content {
  margin: 1.5rem 0;
}

.modal form {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.modal input,
.modal textarea,
.modal button {
  border: none;
  padding: 1rem;
  border-radius: 0.2rem;
  font-size: 1rem;
  font-weight: bold;
  color: #8887a1;
}

.modal form ::placeholder {
  color: #8887a1;
}

.modal input,
.modal textarea {
  min-width: 28%;
  margin-bottom: 0.5rem;
  flex: 1;
}

.modal input[name="member[first_name]"],
.modal input[name="member[email]"] {
  max-width: 50%;
}

.modal input[name="member[first_name]"] {
  margin-right: 0.25rem;
}

.modal input[name="member[email]"] {
  margin-left: 0.25rem;
}

.modal input[name="member[street_address]"] {
  flex: 3;
  margin-right: 0.5rem;
}

.modal textarea {
  min-width: 80%;
  max-width: 100%;
}

.modal button {
  width: 100%;
  background-color: #49c7ae;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

.modal .disclaimer {
  color: #717093;
  font-size: 0.8rem;
}

.modal .disclaimer a {
  color: #b1afda;
  text-decoration: none;
}

.modal .disclaimer a:hover {
  text-decoration: underline;
}

/* Variations */
body.fullscreen {
  background-color: #1e1b33;
  opacity: 0.89;
}

body.fullscreen .modal {
  position: unset;
  background: transparent;
  border-radius: 0;
  box-shadow: none;
  transform: none;
}

body.money h1 {
  color: #ffc11a;
}

body.stop h1 {
  color: #ff3232;
}

body.slow h1,
body.without h1 {
  background: linear-gradient(#39ebfd, #6b74fb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #279cff;
}

body.slow .modal button,
body.without .modal button {
  background-color: #6679fc;
}

/* Animations */
@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#loading img,
body.slow #logos img {
  animation-name: spin;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes modal {
  0% { transform: translateY(100px); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}

.modal {
  animation-duration: 1s;
  animation-name: modal;
  animation-timing-function: ease-out;
}


/* Mobile */
@media (max-width: 674px) {
  .gutter {
    width: initial;
    max-width: 100%;
    margin: 1em;
  }

  .modal { 
    width: initial;
    max-width: 100%;
    height: 100%;
  }
}
